.navber{
    padding: 5px;
    background-color: darksalmon; 
    
}
.navlink{
    margin: 5px;
    padding: 5px;
    text-decoration: none; 
    color: darkred;
}
.btn{
    border: 2px solid rgb(14, 26, 26);
    background-color: firebrick;
}